
     
<div class="container-fluid content">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Welcome to IronFood
				</h2>
				<p>
          Where you can find the best Ironhacker's meal experience!
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="/restaurants">See all restaurants</a>
				</p>
			</div>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<form action="/search-restaurants" method="post">
						<div class="form-group">

							<div class="form-row">
                <div class="col">
                  <label for="class-input"> Preço mínimo: </label><br>
                  <select class="form-control" name="min">
                    <option value="10">10 reais</option>
                    <option value="20">20 reais</option>
                    <option value="30">30 reais</option>
                    <option value="40">40 reais</option>
                  </select><br>
                </div>
                <div class="col">
                  <label for="class-input"> Preço máximo: </label><br>
                  <select class="form-control" name="max">
                    <option value="30">30 reais</option>
                    <option value="40">40 reais</option>
                    <option value="50">50 reais</option>
                    <option value="51">+ de 50 reais</option>
                  </select>
                </div>
              </div>
              <label for="class-input"> Tipo de restaurante: </label><br>
              <div class="form-group"> 
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Cafeteria" name="type">
                <label class="form-check-label" for="inlineCheckbox1">Cafeteria</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Fast Food" name="type">
                <label class="form-check-label" for="inlineCheckbox2">Fast Food</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Bar" name="type">
                <label class="form-check-label" for="inlineCheckbox3">Bar</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Asiática" name="type">
                <label class="form-check-label" for="inlineCheckbox1">Asiática</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Pizza" name="type">
                <label class="form-check-label" for="inlineCheckbox2">Pizza</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Hamburgueria" name="type">
                <label class="form-check-label" for="inlineCheckbox3">Hamburgueria</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Self Service" name="type">
                <label class="form-check-label" for="inlineCheckbox1">Self Service</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Vegetariana" name="type">
                <label class="form-check-label" for="inlineCheckbox2">Vegetariana</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Açaí" name="type">
                <label class="form-check-label" for="inlineCheckbox3">Açaí</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Doces" name="type">
                <label class="form-check-label" for="inlineCheckbox1">Doces</label>
              </div>
      </div>

    

    <button type="submit" class="btn btn-primary">Search for Restaurants!</button>
  </form>

				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>